<header class="site-header">
  <div class="container">
      <div class="row">

          <div class="col-lg-8 col-12 d-flex flex-wrap">
              <p class="d-flex me-4 mb-0">
                  <i class="bi-geo-alt me-2"></i>
                  Near KarveNagar,Pune,Maharashtra,444301
              </p>

              <p class="d-flex mb-0">
                  <i class="bi-envelope me-2"></i>

                  <a href="mailto:info@company.com">
                      globalfinance@company.com
                  </a>
              </p>
          </div>

          <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
              <ul class="social-icon">
                  <li class="social-icon-item">
                      <a href="#" class="social-icon-link"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                  </li>

                  <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  </li>

                  <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>

                  <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                  </li>

                  <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                  </li>
              </ul>
          </div>

      </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
  <div class="container">
      <a class="navbar-brand" href="index.html">
          <img src="../../../assets/icons/global.jpg" class="logo img-fluid me-3" alt="Kind Heart Charity">
          <span style="color: rgb(83, 83, 206);">
              Global Finance
              <small>Your Trusted Organization</small>
          </span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#top">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#about_Us">About</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#emi-section">EMI Calculator</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link click-scroll" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Enquiry <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>

                  <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                      <li><a class="dropdown-item" routerLink="enquiry">Enquiry Form</a></li>

                      <li><a class="dropdown-item" routerLink="faq">FAQ's</a></li>
                  </ul>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#section_6">Contact Us</a>
              </li>

              <li class="nav-item ms-3">
                  <a class="nav-link custom-btn custom-border-btn btn" routerLink="login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
