<header style="background-color: #1B9C85;">
  <div class="header-content">
      <label for="menu-toggle">
          <span class="las la-bars"></span>
      </label>

      <div class="header-menu">
          

          <!-- <div class="notify-icon">
              <span class="las la-envelope"></span>
              <span class="notify">4</span>
          </div>

          <div class="notify-icon">
              <span class="las la-bell"></span>
              <span class="notify">3</span>
          </div> -->

          <div class="user">
            <button class="btn btn-danger p-1" (click)="logout()">LogOut</button>
          </div>
      </div>
  </div>
</header>
