<section class="volunteer-section section-padding" id="section_4" style="background-color: rgb(177, 173, 173)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h1 class="mb-4" style="color: rgb(29, 29, 27)">EMI Calculator</h1>
        <div class="spacer">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
              <div class="well">
                <div class="form-group">
                  <div class="col-md-12">
                    <span class="left-title" style="color: white; font-size: 25px">
                      Home Loan Amount
                    </span>
                    <input type="text" style="width: 44%; float: right" class="form-control" (blur)="tbupdate(0)"
                      [(ngModel)]="query.amount" placeholder="Loan Amount" name="pemi.highValue" />
                  </div>
                  <ng5-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()">
                  </ng5-slider>
                </div>

                <hr />

                <div class="form-group">
                  <div class="col-md-12">
                    <span class="left-title" style="color: white; font-size: 25px">
                      Interest Rate
                    </span>
                    <input type="text" style="width: 44%; float: right" class="form-control" (blur)="tbupdate(1)"
                      [(ngModel)]="query.interest" placeholder="Interest Rate" name="remi.highValue" />
                  </div>
                  <ng5-slider [(value)]="remi.value" [options]="roptions" (userChangeEnd)="update()">
                  </ng5-slider>
                </div>

                <hr />

                <div class="form-group">
                  <div class="col-md-10">
                    <span class="left-title" style="color: white; font-size: 25px">Loan Tenure</span>
                    <input type="text" *ngIf="yrToggel" class="form-control" (blur)="tbupdate(2)"
                      placeholder="Loan Tenure in Yr" [(ngModel)]="query.tenureYr" style="width: 30%; float: right" />
                    <input type="text" *ngIf="!yrToggel" class="form-control" (blur)="tbupdate(3)"
                      placeholder="Loan Tenure in Mo" [(ngModel)]="query.tenureMo" style="width: 30%; float: right" />
                  </div>
                  <div class="col-md-2">
                    <div class="input-group-append">
                      <button class="btn btn-info w-50" [ngClass]="{ active: yrToggel }"
                        (click)="yrToggel = true; update()" type="button">
                        Yr
                      </button>
                      <button class="btn btn-success w-50" [ngClass]="{ active: !yrToggel }"
                        (click)="yrToggel = false; update()" type="button">
                        Mo
                      </button>
                    </div>
                  </div>
                  <ng5-slider *ngIf="yrToggel" [(value)]="temi.value" [options]="toptions" (userChangeEnd)="update()">
                  </ng5-slider>
                  <ng5-slider *ngIf="!yrToggel" [(value)]="memi.value" [options]="moptions" (userChangeEnd)="update()">
                  </ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="well">
                <div class="jusify-center">
                  <h3 style="color: rgb(57, 57, 156)">Loan EMI</h3>
                  <span class="result" style="font-size: 30px">
                    {{ result.emi || "--" }}
                  </span>
                </div>

                <hr />

                <div>
                  <h3 style="color: rgb(57, 57, 156)">
                    Total Interest Payable
                  </h3>
                  <span class="result" style="font-size: 30px">
                    {{ result.interest || "--" }}
                  </span>
                </div>

                <hr />
                <div>
                  <h3 style="color: rgb(57, 57, 156)">Total Payment</h3>
                  <h6>(Principal + Interest)</h6>
                  <span class="result" style="font-size: 30px">
                    {{ result.total || "--" }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>