<div class="row height d-flex justify-content-center align-items-center m-3">

    <div class="col-md-8">

      <div class="search">

        <input type="text" class="form-control " name="search"  [(ngModel)]="searchText" autocomplete="off" placeholder="Search  ">

      </div>

    </div>
<div class="body">

    <div class="container mt-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Pancard No</th>
                    <th scope="col">Cibil Score</th>
                    <th scope="col">Cibil Status</th>
                    <th scope="col">Doc Status</th>
                    <th scope="col">Sanction Letter</th>
                   



                </tr>
            </thead>
            <tbody *ngFor="let en of AllApprovedRegister |filter:searchText">
                <tr   *ngIf="en.customerLoanStatus=='DocumentVerified'">
                        <td>{{en.userFirstName}}
                        {{en.userLastName}}</td>
                        <td>{{en.userEmailId}}</td>
                        <td>{{en.userMobileNo}}</td>
                        <td>{{en.userPanCardNo}}</td>
                        <td>{{en.cibil.cibilScore}}</td>
                        <td style="color: green;font-weight: bold;">{{en.cibil.cibilStatus}}</td>
                        <td style="color: green;font-weight: bold;">{{en.customerLoanStatus}}</td>
                        <td>
                            <button class="btn btn-info"    (click)="generate(en.userId)">Generate</button>
                        </td>
                          

                </tr>

            </tbody>
        </table>
    </div>
</div>



