<div class="row height d-flex justify-content-center align-items-center m-3">
  <div class="col-md-8">
    <div class="search">
      <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search  " />
    </div>
  </div>
  <div class="body">
    <div class="container">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Name</th>

            <th scope="col">Email ID</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Pancard No</th>
            <th scope="col">Cibil Score</th>
            <th scope="col">Application Status</th>
            <th scope="col">View</th>

            <th scope="col">Send Mail</th>

          </tr>
        </thead>
        <tbody *ngFor="
            let en of AllApprovedRegister | filter : searchText;
            index as i
          ">
          <tr *ngIf="en.customerLoanStatus == 'SanctionLetterGenerated' || en.customerLoanStatus == 'LoanDisbursed'">
            <td>{{ en.userFirstName }} {{ en.userLastName }}</td>
            <td>{{ en.userEmailId }}</td>
            <td>{{ en.userMobileNo }}</td>
            <td>{{ en.userPanCardNo }}</td>
            <td>{{ en.cibil.cibilScore }}</td>
            <td style="color: green; font-weight: bold">
              {{ en.customerLoanStatus }}
            </td>

            <a style="cursor: pointer" (click)="openLg(content,en.userId)"><i class="fa fa-eye ms-3"
                aria-hidden="true"></i>
            </a>
             
            <td>
              <a style="cursor: pointer"  (click)="sendMailForSanction(en)"><i class="fa fa-paper-plane ms-3" aria-hidden="true"></i></a>
            </td>
             
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Sanction Letter Preview</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body text-center" *ngFor="
    let en of AllApprovedRegister">
      <div *ngIf="en.userId == sanctionss">

        <pdf-viewer [src]="'data:application/pdf;base64,' + en.sanctionLetter.sanctionLetter" [render-text]="true"
          style="display: block; width:1050px;height:600px;">
        </pdf-viewer>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
        Close
      </button>
    </div>
  </ng-template>

  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
</div>